NODE_ENV=Mode
PORT=Port
CLIENT_URL=your_client_url_address
MONGODB_URI=MongoUriConnectionStringExample
JWT_ACCESS_SECRET=JWT_ACCESS_SECRET_KEY
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET_KEY
PAYPAL_CLIENT_ID=paypal_example_id
PAYPAL_CLIENT_SECRET=your_client_secret
PAYPAL_ENV=mode